<section class="projects">
    <div class="projects__container container">
        <div class="projects__body info-block">
            <!--            <div class="projects__row">-->
            <h3 class="projects__title title">Project Information</h3>
            <!--                <div class="projects__col"></div>-->
            <!--            </div>-->
            <div class="projects__row project-block">
                <!--                <div class="projects-block__row">-->
                <ul class="projects-block__item block-project-info">

                </ul>
                <!--                </div>-->

            </div>
        </div>
        <div class="projects__body">
            <!--            <div class="projects__row">-->
            <h3 class="projects__title title">Project Time</h3>
            <!--                <div class="projects__col"></div>-->
            <!--            </div>-->
            <div class="projects__row project-block">
                <ul class="projects-block__item block-project-time"></ul>
            </div>
        </div>
    </div>
</section>
