:root {
  --main-bg-color: #171e28;
  --primary-bg-color: #242b35;
  --secondary-bg-color: #8f7fff;
  --dark-grey-bg-color: #3d444e;
  --light-grey-bg-color: #bfbafa;
  --blue-tone-bg-color: #624bff;
  --light-blue-tone-bg-color: #7f76f7;

  --tone-dark-grey-bg-color-first: #2d333d;
  --tone-dark-grey-bg-color-second: #1e242f;
  --color-primary: #c7bfff;
  --text-color-secondary: #b6b4c6;
  --text-color-light-violet: #8f7fff;
  --color-alert: #ff6a59;
  --color-completed: #27ae60;
  --select-width: 200px;
  --select-height: 40px;
  --main-border: 1px solid #3d444e;
  --main-border-radius: 7px;
  --basic-font-size: 14px;
  --main-ml: 60px;

  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-normal: 400;

  --color-white: #ffffff;

  /*for filters*/
  --filter-mr: 24px;
  --button-height: 40px;
  --select-padding: 0 18px 0 16px;

  /*for checkbox*/
  --checkbox-height: 20px;
  --checkbox-width: 20px;

  /*for header*/
  --width-selected-item-header: 127px;
  --mr-categoty-header: 48px;
  --height-category-header: 100%;
  --ml-category-text: 8px;

  /*for block info*/
  --block-width: 648px;
  --block-height: 606px;
  --block-margin-title: 40px 0 24px 0;
  --block-fs-title: 16px;
  --block-inside-padding: 0 10px 0 64px;

  /*for block time*/
  --inside-block-width: 240px;
  --inside-block-mb: 16px;

  /*for grid */
  --grid-width: 1319px;
}

$fontfamily: "Open Sans", sans-serif; //Шрифт по умолчанию
$minwidth: 320px;                     //минимальная ширина iphone 5
$maxwidth: 1920;                      //максимальная ширина полотна макета
$maxWidthContainer: 1320;             //ширина контентной части
$md1: $maxWidthContainer + 12;        //первый брэкпоинт (ширина контентной части + 12px)
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

body {
  color: #000;
  font-size: 14px;
  &.lock {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: ($md1+px)) {
    max-width: 970px;
  }
  @media (max-width: ($md2+px)) {
    max-width: 750px;
  }
  @media (max-width: ($md3+px)) {
    max-width: none;
    padding: 0 10px;
  }
}

.page {
  flex: 1 1 auto;
  background-color: #191d28;
}
